.header {

    padding: .4em;

    .branding a {
        text-decoration: none;
        font-weight: 200;
        font-size: 1.4em;
        color: #000;

        &:hover {
            color: #666;
        }
    }
}


@media only screen and (min-width: 300px) {
    .header {
        .branding a {
            font-size: 2em;
        }
    }
}